html,
body {
    font-family: arial;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.main-header {
    padding: 20px;
}

.user-message {
    text-align: center;
}

.shopping-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.common-container {
    padding: 20px 150px;
}

.main-nav {
    background-color: #eee;
    border-bottom: #d1d1d1 1px solid;
    border-top: #d1d1d1 1px solid;
    padding: 10px 30px;
}

.main-nav .nav-links,
.main-nav .nav-links .nav-item {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-nav .nav-item .nav-link {
    text-decoration: none;
    text-transform: uppercase;
}