<div
    ng-controller="AppviewController as appview"
    class="app-container"
>
    <div class="main-header">
        <div class="shopping-cart-container">
            <shopping-cart />
        </div>
    </div>

    <nav class="main-nav">
        <ul class="nav-links">
            <li class="nav-item">
                <a
                    class="nav-link"
                    ui-sref="productList"
                >
                    Products
                </a>
            </li>
        </ul>
    </nav>

    <div id="app-body" ui-view="mainView"></div>
</div>
