<div
    class="shopping-cart-button"
    ng-click="navigateToShoppingCart()"
>
    <img 
        class="shopping-cart-icon"
        src="/images/shopping_cart.png"
    />
    <span class="shopping-cart-count">
        {{itemCount}}
    </span>
</div>
