.shopping-cart-button {
    cursor: pointer;
    display: inline-block;
}

.shopping-cart-button .shopping-cart-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.shopping-cart-button .shopping-cart-count {
    display: block;
    float: right;
    line-height: 38px;
    font-size: 27px;
}
