.product-list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.product-list-item .image-container .preview-image {
    height: 70px;
    width: 70px;
}

.product-list-item .text-container .product-name {
    margin: 0px;
    padding: 0px;
}

.product-list-item .image-container {
    flex: 2 0 0;
}

.product-list-item .text-container {
    flex: 6 0 0;
}

.product-list-item .action-button-container {
    flex: 4 0 0;
}
