<div class="product-list-item">
    <div class="image-container">
        <img
            class="preview-image"
            ng-src="{{product.imageUrl}}"
        />
    </div>

    <div class="text-container">
        <h3 class="product-name">{{product.name}}</h3>
        <p>{{product.description}}</p>
    </div>

    <div class="action-button-container">
        <input
            ng-model="quantity"
            type="number"
        />
        <button
            ng-click="addToCart()"
            ng-disabled="noItemsSelected()"
        >
            Add to Cart
        </button>
    </div>
</div>
