<div
    class="shopping-cart common-container"
    ng-controller="ShoppingCartController as shoppingCartController"
>
    <div ng-if="shoppingCartController.isCartEmpty()">
        <h4 class="user-message">Your cart is empty. <a ui-sref="productList">Visit the Products page</a> to select products.</h4>
    </div>

    <div class="shopping-cart-list">
        <shopping-cart-list-item
            ng-repeat="cartItem in shoppingCartController.cartItems"
            cart-item="cartItem"
        />
    </div>

    <div ng-if="!shoppingCartController.isCartEmpty()">
        <button 
            class="confirm-order-button"
            ng-click="shoppingCartController.confirmOrder()"
        >
            Confirm order
        </button>
    </div>
</div>
