<div class="shopping-cart-list-item">
    <div class="image-container">
        <img
            class="preview-image"
            ng-src="{{cartItem.item.imageUrl}}"
        />
    </div>

    <div class="text-container">
        <h3 class="product-name">{{cartItem.item.name}}</h3>
        <p>{{cartItem.item.description}}</p>
    </div>

    <div class="action-button-container">
        <div>
            <label>Quantity:</label>
            <input
                ng-change="quantityChanged()"
                ng-model="cartItem.quantity"
                type="number"
            />
        </div>
        <div>
            <button ng-click="remove()">
                Remove
            </button>
        </div>
    </div>
</div>
